<!-- Elements added to "main.html" will be displayed on all pages -->

{% extends "base.html" %}

{% block extrahead %}
    <!-- main.html | Added "navigation.instant" support -->
    <link rel="canonical" href=".">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}
<!-- <div class="mid-header">
  <div class="mid-header__inner">
    <a href="https://github.com/nerddotdad/nerd.dad/actions/workflows/mike_build.yml">
      <img src="https://github.com/nerddotdad/nerd.dad/actions/workflows/mike_build.yml/badge.svg?branch=main">
    </a>
    <br>
    <a href="https://github.com/nerddotdad/nerd.dad/actions/workflows/pages/pages-build-deployment">
        <img src="https://github.com/nerddotdad/nerd.dad/actions/workflows/pages/pages-build-deployment/badge.svg?branch=gh-pages">
    </a>
  </div>
</div> -->
  {{ super() }}
{% endblock %}

{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}