mkdocs-material
mike
mkdocs-macros-plugin
mkdocs-autorefs
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-authors-plugin
mkdocs_github_changelog
macros
markdownify
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-macros-test
mkdocs-include-dir-to-nav
modules
dotenv
jq
mkdocs
boto3
git+https://github.com/nerddotdad/mkdocs-tts-amazon-polly.git